body{
    margin: 0;
}

main{
    width: 100%;
}



.d-header{
    background: #bf8edf;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.nav-cnt{
    width: 100vw;
    position: absolute;
    z-index: 6;
    text-align: center;
}
.navbar{
    float: right;
    margin-right: 100px;
    opacity: 1;
}
.navbar a{
    position: relative;
    padding: 20px;
    line-height: 90px;
    text-decoration: none;
    color: #f5c69b;
}
.navbar a:hover{
    color: white;
    transition: .3s;
}

.left-part, .right-part{
    position: absolute;
    z-index: 0;
}
.right-part{
    right: 0;
}
.gradient{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.logo-position{
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}
.ep-logo{
    width: 300px;
}
.logo-container{
    width: 300px;
    position: absolute;
    z-index: 3;
}

.logo-container h4{
    text-align: left;
    color: rgba(255, 255, 255, 0.336);
    padding: 0;
    margin: 0;
}
.logo-container h4:nth-child(3){
    text-align: right;
}


.illumin-lines{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    
}
.line-right{
    position: absolute;
    color: #fff;
	/*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    */
    background: linear-gradient(-45deg, #ff194b42 1%,#ff191959 33%,#ffe314 70%,#f8f192c4 100%);
    background-size: 400% 400%;
    opacity: .5;
    
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;

    width: 100%;
    height: 100%;
    /*-webkit-clip-path: polygon(0 63%, 59% 25%, 59% 0, 65% 0%, 65% 25%, 100% 63%, 100% 32%, 65% 32%, 65% 100%, 59% 100%, 59% 32%, 0 32%);
    */
    clip-path: polygon(0 63%, 65% 63%, 65% 0, 65.1% 0%, 65.1% 63%, 100% 63%, 100% 63.2%, 65.1% 63.2%, 65.1% 100%, 65% 100%, 65% 63.2%, 0 63.2%);
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}







/*PORTFOLIO STARTS HERE*/
.portfolio-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.site{
    display: flex;
    justify-content: center;
}
.site-info{
    margin-left: 20px;
    width: 100%;
}
.portfolio h2{
    text-align: center;
}

footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #bf8edf;
    color: white;
    text-align: center;
}
footer img{
    margin-right: 20px;
}
.footer-inner{
    background-image: linear-gradient(225deg, #ff7b003d 0%, #2a0a5983 100%);
    
}
.resume{
    font-size: 13px;
    color: white;
}

.menu-btn{
    display: none;
}

@media only screen and (max-width: 720px){
    .menu-btn{
        display: block;
        margin: 20px;
        position: fixed;
        right: 0;
    }
    .menu-btn:hover{/*need a better animation*/
        background: rgba(0, 0, 0, 0.452);
    }
    .navbar{
        /*display: none;*/
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.644);
        top: -500px;
        transition: ease-out .5s;
    }
    .navbar a{
        padding: 0;
        margin: 0;
        width: 100%;
        line-height: 90px;
        transition: .5s;
    }
    .navbar a:hover{
        background: #7effa7b9;
        transition-delay: .07s;
    }
    .nav-cnt{
        position: fixed;
        background: rgba(0, 0, 0, 0.63);
        height: 0;
        transition: .5s;
    }
}